<app-my-nav></app-my-nav>

<form style="margin-left: 1em" #studentForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="full-width">
    <input matInput placeholder="Id" [(ngModel)]="model.Id" name="Id" required>
  </mat-form-field>
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="ActId">
          <input matInput placeholder="Activity Id" [(ngModel)]="model.actId" name="actId" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Activity name" [(ngModel)]="model.actName" name="actName" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Date" [(ngModel)]="model.date" name="date" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Location" [(ngModel)]="model.locat" name="locat" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Period" [(ngModel)]="model.period" name="period" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Activity host" [(ngModel)]="model.actHost" name="actHost" required>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Description" [(ngModel)]="model.description" name="description"></textarea>
  </mat-form-field>
  <div class="center">
    <button mat-raised-button color="primary" type="submit" [disabled]="!studentForm.form.valid">Add</button>
  </div>
</form>
