<!-- <app-my-nav></app-my-nav> -->

<body>
  <form action="action_page.php">
    <div class="row2">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
    </div>
    <div class="container">
      <label for="stuId"><b>Student Id</b></label>
      <input type="text" placeholder="Enter student id" name="stuId" required>

      <label for="fstname"><b>First name</b></label>
      <input type="text" placeholder="Enter first name" name="fstname" required>

      <label for="lstname"><b>Last name</b></label>
      <input type="text" placeholder="Enter last name" name="lstname" required>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <label for="password-repeat"><b>Confirm Password</b></label>
      <input type="password" placeholder="Confirm Password" name="password-repeat" required>
      <hr>

      <button type="submit" class="registerbtn">Register</button>
      <button type="submit" class="cancelbtn">Cancel</button>
    </div>

    <div class="container signin">
      <p>Already have an account? <a [routerLink]="['/login']" routerLinkActive="router-link-active"> Log in</a></p>
    </div>
  </form>
</body>