
<div class="row justify-content-start">
  <div class="col-md-offset-3	 col-md-9">
    <div *ngFor="let student of students">
      <div class="panel panel-primary  ">
        <div class="panel-heading">
          <h2 class="panel-title">{{student.studentId }}</h2>
        </div>
      </div>
    </div>
  </div>
</div>

