<body>
  <div class="row">
  </div>
  <form action="action_page.php">
    <div class="container">
      <p><b>Learning Through Activity </b></p>
      <label for="username"><b>Email address</b></label>
      <input type="text" placeholder="Enter email address" name="username" [(ngModel)]="username" required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter password" name="password" [(ngModel)]="password" required>

      <mat-card-actions>
        <button mat-raised-button (click)="login()">Login</button>
        <button mat-raised-button [routerLink]="['/registration']" routerLinkActive="router-link-active"
        >Registration</button>
      </mat-card-actions>
    </div>
  </form>
</body>