<app-my-nav></app-my-nav>
<div class="mat-elevation-z8">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let student">{{student.id}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- StudentId Column -->
    <ng-container matColumnDef="studentId">
      <th mat-header-cell *matHeaderCellDef>Student id</th>
      <td mat-cell *matCellDef="let student">{{student.studentId}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let student">{{student.name}}</td>
      <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>
    <!-- Surname Column -->
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Surname</th>
      <td mat-cell *matCellDef="let student">{{student.surname}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef class="center-text">Image</th>
      <td mat-cell *matCellDef="let student" class="center-text">
        <img [src]="student.image" [title]="student.name" class="img-fluid">
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <mat-paginator hidden="true" #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
